# Virtual Environment
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Data and Models (Crucial for Data Science)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*.joblib
models/*.pkl

# IDE files
.idea/
.vscode/